[core]
	excludesfile = /home/troy/.gitignore_global
[user]
	name = Troy Pracy
	email = tspracy@gmail.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
