# reload .inputrc with C-x C-r ("reload-init-file" function)

set completion-ignore-case On
set bell-style none

# up-arrow, C-p
"\e[A": history-search-backward   
"\C-p": history-search-backward

# down-arrow, C-n
"\e[B": history-search-forward    
"\C-n": history-search-forward 

# Ctrl-Delete
"\e[3;5~": kill-whole-line        

Control-u: universal-argument
"^[i": universal-argument

# bash vi-mode: cursor shape by mode
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[5 q\2
set vi-cmd-mode-string \1\e[2 q\2