[Desktop Entry]
Name=CopyQ
Exec="/usr/local/bin/copyq"
Icon=copyq
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
GenericName=Clipboard Manager
GenericName[de]=Verwaltung der Zwischenablage
GenericName[en_GB]=Clipboard Tool
GenericName[it]=Strumento per gli appunti
GenericName[ja]=クリップボードツール
Comment=A cut & paste history utility
Comment[de]=Programm zur Verwaltung der Zwischenablage
Comment[en_GB]=A cut & paste history utility
Comment[it]=Un programma per la cronologia del copia e incolla
Comment[ja]=カット＆ペースト履歴ユーティリティ
Hidden=False
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
X-GNOME-Autostart-enabled=true
