[Desktop Entry]
Name=Kupfer
Name[de]=Kupfer
Name[it]=Kupfer
Version=1.0
Exec=kupfer  --no-splash
Icon=kupfer
Type=Application
Categories=Utility;
GenericName=Application Launcher
GenericName[de]=Anwendungsstarter
GenericName[it]=Lanciatore di applicazioni
Comment=Convenient command and access tool for applications and documents
Comment[de]=Praktisches Befehls- und Zugriffswerkzeug für Anwendungen und Dokumente
Comment[it]=Comodo comando e strumento di accesso per applicazioni e documenti
Hidden=true
StartupNotify=true
X-GNOME-Autostart-enabled=true
X-UserData=$CONFIG/kupfer;$DATA/kupfer;$CACHE/kupfer

