[Desktop Entry]
Comment[sv]=Praktiskt kommandoprogram för åtkomst av program och dokument
Name[sl]=Kupfer
Name[cs]=Kupfer
GenericName[ru]=Средство запуска приложений
Comment[ru]=Удобный инструмент для быстрого доступа к программам и документам
Name[zh_CN]=Kupfer
Name[es]=Kupfer
GenericName[nb]=Programstarter
GenericName[ko]=응용 프로그램 실행 아이콘
Comment[pt_BR]=Uma conveniente ferramenta de comando e acesso para aplicativos e documentos
GenericName[eu]=Aplikazioen abiarazlea
Comment[nl]=Handige opdracht- en toegangshulp voor programma's en documenten
Comment[da]=Nemt kommando- og adgangsværktøj til programmer og dokumenter
Comment[pt]=Ferramenta conveniente para acesso e gestão de aplicações e documentos
GenericName[fr]=Lanceur d'applications
Hidden=true
Comment[de]=Praktisches Befehls- und Zugriffswerkzeug für Anwendungen und Dokumente
GenericName[pl]=Aktywator programów
X-GNOME-Autostart-enabled=true
Name=Kupfer
Name[pt]=Kupfer
GenericName[da]=Programopstarter
Name[eu]=Kupfer
Name[nb]=Kupfer
GenericName[pt_BR]=Lançador de aplicativos
Exec=kupfer  --no-splash
Type=Application
GenericName[sl]=Zaganjalnik programov
GenericName[cs]=Spouštěč aplikací
Comment[es]=Herramienta para acceso y manejo de aplicaciones y documentos
GenericName[de]=Anwendungsstarter
GenericName=Application Launcher
Name[gl]=Kupfer
GenericName[zh_CN]=程序启动器
Comment[nb]=Praktiskt kommandoverktøy for programmer og dokumenter
Name[tr]=Kupfer
Comment[eu]=Komando eta atzipen tresna egokia aplikazio eta dokumentuentzat
Icon=kupfer
Name[sv]=Kupfer
Comment[it]=Comodo comando e strumento di accesso per applicazioni e documenti
Comment[sl]=Prikladno orodje za izvajanje ukazov in dostopa do programov in dokumentov
GenericName[sv]=Programstartare
GenericName[es]=Lanzador de aplicaciones
Name[ko]=쿠퍼
GenericName[tr]=Uygulama Çalıştırıcı
GenericName[hu]=Alkalmazásindító
Comment[cs]=Nástroj pro pohodlné provádění příkazů a přístup k aplikacím a dokumentům
Name[nl]=Kupfer
Comment[pl]=Wygodne narzędzie do uruchamiania programów i otwierania dokumentów
X-UserData=$CONFIG/kupfer;$DATA/kupfer;$CACHE/kupfer
Comment[gl]=Ferramenta cómoda para controlar e acceder a aplicativos e documentos
Name[ru]=Kupfer
Name[pl]=Kupfer
GenericName[gl]=Iniciador de aplicativos
Name[it]=Kupfer
Comment=Convenient command and access tool for applications and documents
GenericName[it]=Lanciatore di applicazioni
Name[pt_BR]=Kupfer
Name[hu]=Kupfer
Comment[zh_CN]=方便的命令和操作程序或文档的工具
StartupNotify=true
Comment[hu]=Ügyes kis kütyü alkalmazások indítására és dokumentumok elérésére
Comment[ko]=편리하게 응용프로그램이나 문서에 접근하고 명령을 내릴 수 있는 도구
Version=1.0
Comment[fr]=Outil pratique pour accéder à des documents et lancer des applications
Categories=Utility;
Name[de]=Kupfer
GenericName[pt]=Lançador de Aplicações
Name[da]=Kupfer
Name[fr]=Kupfer
GenericName[nl]=Programmastarter

