[Desktop Entry]
Name=CopyQ
Exec=/usr/local/bin/copyq 2>dev/null
Icon=copyq
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
GenericName=Clipboard Manager
Comment=A cut & paste history utility
Hidden=False
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
X-GNOME-Autostart-enabled=true
