[core]
	excludesfile = /home/troy/.gitignore_global
	autocrlf = input
	pager = less -+F -RSX
[include]
	path = /home/troy/.gitconfig_personal
[alias]
	a = add -A
	c = commit -m
	d = diff --color-words                                    
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ll = log --stat --abbrev-commit	
	s = status
	filestoadd = diff --stat
	changestoadd = diff
	filestocommit = status
	changestocommit = diff --cached
	filestopush = diff --stat HEAD origin/master
	changestopush = diff HEAD origin/master
	undoadd = reset HEAD
	undocommit = reset HEAD~1
	correctcommit = commit --amend
[color]
	ui = auto # covers diff = true, status = auto, branch = auto
	interactive = auto
[diff]
	tool = vimdiff
