[alias]
	cl = clone
	# clone repository in clipboard
	g = !cd \"$GIT_PREFIX\" && git clone $(xsel -ob)
	a = add -A
	b = branch
	c = commit -m
	cu = commit -m "update"
	co = checkout

	# ===DIFF===
	# changes to add
	d = diff --color-words
	# added changes to commit
	da = diff --cached --color-words
	# committed changes to push
	dc = diff HEAD origin/master --color-words
	# ---BY WORD---
	dw  = !GIT_PAGER='less -r' git diff --color-words
	dwa = !GIT_PAGER='less -r' git diff --cached --color-words
	dwc = !GIT_PAGER='less -r' git diff HEAD --color-words
	# ---BY WORD | GUI VIEWER---
	dg  = !GIT_EXTERNAL_DIFF='meld $2 $5 | cat' git diff --color-words
	dga = !GIT_EXTERNAL_DIFF='meld $2 $5 | cat' git diff --cached --color-words
	dgc = !GIT_EXTERNAL_DIFF='meld $2 $5 | cat' git diff HEAD --color-words
	# uses diff-highlight perl script from git source tree
	dh  = !git diff | diff-highlight
	dha = !git diff --cached --color-words | diff-highlight
	dhc = !diff HEAD --color-words | diff-highlight
	dl  = diff --color
	dla = diff --cached --color
	dlc = diff HEAD origin/master --color
	filestoadd = diff --stat
	changestoadd = diff
	filestocommit = status
	changestocommit = diff --cached
	filestopush = diff --stat HEAD origin/master
	changestopush = diff HEAD origin/master

	showlastcommit = log -p --follow -1
	# https://coderwall.com/p/euwpig/a-better-git-log
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ll = log --stat --abbrev-commit
	# also shell alias gitcommits
	s = status

	# initialize folder as repository and push to newly-created github repo whose URL is in clipboard
	gh = "!f(){ git init; touch README.md; git add README.md; git commit -m 'initial commit'; git remote add origin $(xsel -ob); git push -u origin master; };f"
	subdir = filter-branch --prune-empty --subdirectory-filter

	clearunstaged = checkout -- .
	undoadd = reset HEAD
	undocommit = reset --soft HEAD~1
	undocommitandadd = reset HEAD~1
	# change a local commit message
	correctcommit = commit --amend
[color]
	ui = auto # covers diff = true, status = auto, branch = auto
	interactive = auto
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	pager = less -+F -RSX
[credential]
	helper = cache --timeout=7200
[diff]
	tool = vimdiff
	mnemonicprefix = true
[include]
	path = /home/troy/.gitconfig_personal
[push]
	default = simple
