<!DOCTYPE kpartgui>
<kpartgui version="36" name="okular_part">
 <MenuBar>
  <Menu noMerge="1" name="file">
   <text>&amp;File</text>
   <Action group="file_open" name="get_new_stuff"/>
   <Action group="file_open" name="import_ps"/>
   <Action group="file_save" name="file_save_as"/>
   <Action group="file_save" name="file_save_copy"/>
   <Action group="file_save" name="file_reload"/>
   <Action group="file_print" name="file_print"/>
   <Action group="file_print" name="file_print_preview"/>
   <Action group="file_print" name="properties"/>
   <Action group="file_print" name="embedded_files"/>
   <Action group="file_print" name="file_export_as"/>
  </Menu>
  <Menu noMerge="1" name="edit">
   <text>&amp;Edit</text>
   <Action name="edit_undo"/>
   <Action name="edit_redo"/>
   <Separator/>
   <Action name="edit_copy"/>
   <Separator/>
   <Action name="edit_select_all"/>
   <Separator/>
   <Action name="edit_find"/>
   <Action name="edit_find_next"/>
   <Action name="edit_find_prev"/>
  </Menu>
  <Menu noMerge="1" name="view">
   <text>&amp;View</text>
   <Action name="presentation"/>
   <Separator/>
   <Action name="view_zoom_in"/>
   <Action name="view_zoom_out"/>
   <Action name="view_fit_to_width"/>
   <Action name="view_fit_to_page"/>
   <Action name="view_auto_fit"/>
   <Separator/>
   <Action name="view_continuous"/>
   <Action name="view_render_mode"/>
   <Separator/>
   <Menu noMerge="1" name="view_orientation">
    <text>&amp;Orientation</text>
    <Action name="view_orientation_rotate_ccw"/>
    <Action name="view_orientation_rotate_cw"/>
    <Action name="view_orientation_original"/>
   </Menu>
   <Action name="view_pagesizes"/>
   <Action name="view_trim_margins"/>
   <Separator/>
   <Action name="view_toggle_forms"/>
  </Menu>
  <Menu noMerge="1" name="go">
   <text>&amp;Go</text>
   <Action name="go_previous"/>
   <Action name="go_next"/>
   <Separator/>
   <Action name="first_page"/>
   <Action name="last_page"/>
   <Separator/>
   <Action name="go_document_back"/>
   <Action name="go_document_forward"/>
   <Separator/>
   <Action name="go_goto_page"/>
  </Menu>
  <Menu noMerge="1" name="bookmarks">
   <text>&amp;Bookmarks</text>
   <Action name="bookmark_add"/>
   <Action name="rename_bookmark"/>
   <Action name="previous_bookmark"/>
   <Action name="next_bookmark"/>
   <Separator/>
   <ActionList name="bookmarks_currentdocument"/>
  </Menu>
  <Menu noMerge="1" name="tools">
   <text>&amp;Tools</text>
   <Action name="mouse_drag"/>
   <Action name="mouse_zoom"/>
   <Action name="mouse_select"/>
   <Action name="mouse_textselect"/>
   <Action name="mouse_tableselect"/>
   <Action name="mouse_magnifier"/>
   <Separator/>
   <Action name="mouse_toggle_annotate"/>
   <Separator/>
   <Action name="speak_document"/>
   <Action name="speak_current_page"/>
   <Action name="speak_stop_all"/>
  </Menu>
  <Menu noMerge="1" name="settings">
   <text>&amp;Settings</text>
   <Action group="show_merge" name="show_leftpanel"/>
   <Action group="show_merge" name="show_bottombar"/>
   <Action group="configure_merge" name="options_configure_generators"/>
   <Action group="configure_merge" name="options_configure"/>
  </Menu>
  <Menu noMerge="1" name="help">
   <text>&amp;Help</text>
   <Action group="about_merge" name="help_about_backend"/>
  </Menu>
 </MenuBar>
 <ToolBar noMerge="1" name="mainToolBar">
  <Separator name="separator_0"/>
  <Action name="show_leftpanel"/>
  <Action name="view_render_mode"/>
  <Action name="bookmark_add"/>
  <Separator name="separator_1"/>
  <Action name="first_page"/>
  <text>Main Toolbar</text>
  <Action name="go_previous"/>
  <Action name="go_next"/>
  <Action name="last_page"/>
  <Separator name="separator_2"/>
  <Action name="go_goto_page"/>
  <Action name="go_document_back"/>
  <Action name="go_document_forward"/>
  <Action name="edit_find"/>
  <Separator name="separator_3"/>
  <Action name="view_auto_fit"/>
  <Action name="mouse_zoom"/>
  <Action name="zoom_to"/>
  <Separator name="separator_4"/>
  <Action name="mouse_drag"/>
  <Action name="mouse_tableselect"/>
  <Action name="edit_undo"/>
 </ToolBar>
 <ActionProperties scheme="Default">
  <Action shortcut="Shift+H; Shift+Left" priority="0" name="go_document_back"/>
  <Action shortcut="Shift+L; Shift+Right" priority="0" name="go_document_forward"/>
  <Action shortcut="|" name="view_fit_to_page"/>
  <Action shortcut="\" name="view_fit_to_width"/>
  <Action shortcut="Ctrl+G; Alt+&lt;" priority="0" name="first_page"/>
  <Action shortcut="Shift+G; Alt+>" priority="0" name="last_page"/>
  <Action shortcut="C" name="view_continuous"/>
  <Action shortcut="G; '" priority="0" name="go_goto_page"/>
  <Action shortcut="Space; ." priority="0" name="go_next"/>
  <Action shortcut="Backspace; ," priority="0" name="go_previous"/>
  <Action shortcut="Ctrl+Right; Ctrl+J" name="next_bookmark"/>
  <Action shortcut="Ctrl+Left; Ctrl+K" name="previous_bookmark"/>
  <Action shortcut="Alt+Down" name="view_scroll_down"/>
  <Action shortcut="Alt+Up" name="view_scroll_up"/>
  <Action shortcut="F3; Ctrl+N" name="edit_find_next"/>
  <Action shortcut="Shift+F3; Ctrl+Shift+N" name="edit_find_prev"/>
  <Action shortcut="Ctrl+Z; U" priority="0" name="edit_undo"/>
  <Action shortcut="D" priority="0" name="presentation_drawing_mode"/>
  <Action shortcut="Ctrl+2" name="view_render_mode_facing"/>
  <Action shortcut="Ctrl+3" name="view_render_mode_facing_center_first"/>
  <Action shortcut="Ctrl+1" name="view_render_mode_single"/>
  <Action shortcut="_" name="view_trim_margins"/>
  <Action shortcut="Shift+V" name="mouse_select"/>
  <Action shortcut="Ctrl+V" priority="0" name="mouse_tableselect"/>
  <Action shortcut="V" name="mouse_textselect"/>
  <Action shortcut="+; =" priority="0" name="view_zoom_in"/>
  <Action shortcut="-" priority="0" name="view_zoom_out"/>
  <Action shortcut="F2" name="rename_bookmark"/>
  <Action iconText="Add Bookmark" shortcut="B" priority="0" name="bookmark_add"/>
  <Action shortcut="Shift+B" priority="0" name="mouse_drag"/>
  <Action shortcut="" name="switch_blackscreen_mode"/>
  <Action shortcut="Shift+J; Shift+Down" name="view_scroll_page_down"/>
  <Action shortcut="Ctrl+6; M" name="mouse_magnifier"/>
  <Action shortcut="#" name="page_number"/>
  <Action shortcut="Ctrl+Space" name="presentation_play_pause"/>
  <Action shortcut="?" name="view_orientation_original"/>
  <Action shortcut="&lt;" name="view_orientation_rotate_ccw"/>
  <Action shortcut=">" name="view_orientation_rotate_cw"/>
  <Action shortcut="Shift+K; Shift+Up" name="view_scroll_page_up"/>
  <Action shortcut="Z" priority="0" name="zoom_to"/>
  <Action shortcut="Shift+Z" priority="0" name="mouse_zoom"/>
  <Action priority="0" name="mouse_selecttools"/>
  <Action iconText="PS->PDF" name="import_ps"/>
  <Action priority="0" name="view_auto_fit"/>
  <Action shortcut="Ctrl+P" name="file_print_preview"/>
  <Action shortcut="Shift+S" priority="0" name="options_configure"/>
  <Action shortcut="Ctrl+Shift+Z; Ctrl+R" name="edit_redo"/>
  <Action shortcut=";" name="show_bottombar"/>
  <Action priority="0" name="show_leftpanel"/>
  <Action priority="0" name="view_render_mode"/>
  <Action priority="0" name="edit_find"/>
  <Action priority="0" name="options_configure_annotations"/>
 </ActionProperties>
</kpartgui>
