<!DOCTYPE kpartgui>
<kpartgui name="dolphin" translationDomain="kxmlgui5" version="14">
 <MenuBar alreadyVisited="1">
  <Menu name="file" alreadyVisited="1" noMerge="1">
   <text translationDomain="kxmlgui5">&amp;File</text>
   <Action name="new_menu"/>
   <Action name="new_window"/>
   <Action name="new_tab"/>
   <Action name="close_tab"/>
   <Action name="undo_close_tab"/>
   <Separator/>
   <Action name="rename"/>
   <Action name="move_to_trash"/>
   <Action name="delete"/>
   <Separator/>
   <Action name="properties"/>
   <Separator weakSeparator="1"/>
   <Action name="file_quit"/>
  </Menu>
  <Menu name="edit" alreadyVisited="1" noMerge="1">
   <text translationDomain="kxmlgui5">&amp;Edit</text>
   <Action name="edit_undo"/>
   <Separator weakSeparator="1"/>
   <Action name="edit_cut"/>
   <Action name="edit_copy"/>
   <Action name="edit_paste"/>
   <Separator weakSeparator="1"/>
   <Action name="edit_find"/>
   <Separator weakSeparator="1"/>
   <Action name="select_all"/>
   <Action name="invert_selection"/>
  </Menu>
  <Menu name="view" alreadyVisited="1" noMerge="1">
   <text translationDomain="kxmlgui5">&amp;View</text>
   <Action name="view_zoom_in"/>
   <Action name="view_zoom_out"/>
   <Separator weakSeparator="1"/>
   <Action name="view_mode"/>
   <Action name="sort"/>
   <Action name="additional_info"/>
   <Action name="show_preview"/>
   <Action name="show_in_groups"/>
   <Action name="show_hidden_files"/>
   <Separator/>
   <Action name="split_view"/>
   <Action name="reload"/>
   <Action name="stop"/>
   <Separator/>
   <Action name="panels"/>
   <Menu name="location_bar" noMerge="1">
    <text translationDomain="dolphin" context="@title:menu">Location Bar</text>
    <Action name="editable_location"/>
    <Action name="replace_location"/>
   </Menu>
   <Separator/>
   <Action name="view_properties"/>
  </Menu>
  <Menu name="go" alreadyVisited="1" noMerge="1">
   <text translationDomain="kxmlgui5">&amp;Go</text>
   <Action name="go_up"/>
   <Action name="go_back"/>
   <Action name="go_forward"/>
   <Action name="go_home"/>
   <Separator weakSeparator="1"/>
   <Action name="closed_tabs"/>
  </Menu>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Separator weakSeparator="1"/>
  <Menu name="tools" alreadyVisited="1" noMerge="1">
   <text translationDomain="kxmlgui5">&amp;Tools</text>
   <Action name="show_filter_bar"/>
   <Action name="open_terminal"/>
   <Action name="compare_files"/>
   <Action name="change_remote_encoding"/>
  </Menu>
  <Menu name="settings" alreadyVisited="1" noMerge="1">
   <text translationDomain="kxmlgui5">&amp;Settings</text>
   <Action name="options_show_menubar"/>
   <Merge name="StandardToolBarMenuHandler"/>
   <Merge name="KMDIViewActions"/>
   <Separator weakSeparator="1"/>
   <Action name="options_configure_keybinding"/>
   <Action name="options_configure_toolbars"/>
   <Action name="options_configure"/>
  </Menu>
  <Separator weakSeparator="1"/>
  <Menu name="help" alreadyVisited="1" noMerge="1">
   <text translationDomain="kxmlgui5">&amp;Help</text>
   <Action name="help_contents"/>
   <Action name="help_whats_this"/>
   <Separator weakSeparator="1"/>
   <Action name="help_report_bug"/>
   <Separator weakSeparator="1"/>
   <Action name="help_about_app"/>
   <Action name="help_about_kde"/>
  </Menu>
 </MenuBar>
 <ToolBar name="mainToolBar" alreadyVisited="1" noMerge="1">
  <Action name="panels"/>
  <text translationDomain="dolphin" context="@title:menu">Main Toolbar</text>
  <Action name="go_back"/>
  <Action name="go_forward"/>
  <Action name="go_up"/>
  <Action name="reload"/>
  <Action name="create_dir"/>
  <Action name="new_menu"/>
  <Action name="show_hidden_files"/>
  <Action name="show_in_groups"/>
  <Separator name="separator_0"/>
  <Separator name="separator_1"/>
  <Action name="view_mode"/>
  <Separator name="separator_2"/>
  <Action name="edit_find"/>
  <Action name="compare_files"/>
  <Separator name="separator_3"/>
  <Action name="split_view"/>
  <Action name="show_terminal_panel"/>
  <Separator name="separator_4"/>
  <Separator name="separator_5"/>
  <Action name="options_configure_keybinding"/>
  <Action name="show_preview"/>
  <Action name="new_tab"/>
 </ToolBar>
 <State name="new_file">
  <disable>
   <Action name="edit_undo"/>
   <Action name="edit_redo"/>
   <Action name="edit_cut"/>
   <Action name="edit_copy"/>
   <Action name="rename"/>
   <Action name="move_to_trash"/>
   <Action name="delete"/>
   <Action name="invert_selection"/>
   <Separator/>
   <Action name="go_back"/>
   <Action name="go_forward"/>
  </disable>
 </State>
 <State name="has_selection">
  <enable>
   <Action name="edit_cut"/>
   <Action name="edit_copy"/>
   <Action name="rename"/>
   <Action name="move_to_trash"/>
   <Action name="delete"/>
   <Action name="invert_selection"/>
  </enable>
 </State>
 <State name="has_no_selection">
  <disable>
   <Action name="edit_cut"/>
   <Action name="edit_copy"/>
   <Action name="rename"/>
   <Action name="move_to_trash"/>
   <Action name="delete"/>
   <Action name="delete_shortcut"/>
   <Action name="invert_selection"/>
  </disable>
 </State>
 <ActionProperties scheme="Default">
  <Action name="go_back" priority="0"/>
  <Action name="go_forward" priority="128"/>
  <Action shortcut="Alt+Up; Ctrl+U" name="go_up" priority="0"/>
  <Action name="go_home" priority="0"/>
  <Action shortcut="Ctrl+G" name="stop" priority="0"/>
  <Action name="icons" priority="0"/>
  <Action name="compact" priority="0"/>
  <Action name="details" priority="0"/>
  <Action name="view_zoom_in" priority="0"/>
  <Action name="view_zoom_out" priority="0"/>
  <Action name="edit_cut" priority="0"/>
  <Action name="edit_copy" priority="0"/>
  <Action name="edit_paste" priority="0"/>
  <Action name="panels" priority="0"/>
  <Action name="new_tab" priority="0"/>
  <Action shortcut="Ctrl+F1; Ctrl+X, Ctrl+K" name="options_configure_keybinding" priority="0"/>
  <Action shortcut="Ctrl+`; Ctrl+P" name="show_preview" priority="0"/>
  <Action shortcut="F5; Ctrl+R" name="reload" priority="0"/>
  <Action shortcut="F10; Alt+=" name="create_dir" priority="0"/>
  <Action shortcut="Ctrl+X, Ctrl+V" name="view_mode" priority="0"/>
  <Action shortcut="Ctrl+S" name="edit_find" priority="0"/>
  <Action name="split_view" priority="0"/>
  <Action name="show_terminal_panel" priority="0"/>
  <Action shortcut="Ctrl+D" name="compare_files"/>
  <Action shortcut="Ctrl+/; " name="edit_undo"/>
  <Action shortcut="Ctrl+Return" name="open_in_new_tab"/>
  <Action shortcut="Ctrl+Shift+Return" name="open_in_new_window"/>
  <Action shortcut="Ctrl+Shift+F1" name="options_configure"/>
  <Action shortcut="Ctrl+A; " name="select_all"/>
  <Action shortcut="Ctrl+I; /" name="show_filter_bar"/>
  <Action shortcut="Ctrl+Shift+T; " name="undo_close_tab"/>
  <Action shortcut="F6; ,, F" name="editable_location"/>
  <Action shortcut="Alt+.; Ctrl+H" name="show_hidden_files"/>
  <Action shortcut="Ctrl+X, Ctrl+G" name="show_in_groups"/>
  <Action shortcut=",, S" name="sort_by_size"/>
  <Action shortcut=",, N" name="sort_by_text"/>
  <Action shortcut=",, T" name="sort_by_type"/>
  <Action shortcut=",, D" name="sort_by_date"/>
  <Action shortcut="Ctrl+X, Ctrl+D; ,, R" name="descending"/>
  <Action shortcut="Ctrl+X, Ctrl+L" name="lock_panels"/>
  <Action shortcut="Ctrl+X, T" name="options_configure_toolbars"/>
  <Action shortcut="Ctrl+X, Ctrl+M" name="options_show_menubar"/>
  <Action shortcut="Ctrl+X, V" name="view_properties"/>
 </ActionProperties>
</kpartgui>
