[Desktop Entry]
Categories=Qt;KDE;Utility;
Comment[en_US]=A cut & paste history utility
Comment=A cut & paste history utility
Comment[ar]=أداة تاريخ القص واللصق
Comment[de]=Programm zur Verwaltung der Zwischenablage
Comment[el]=Ένα εργαλείο ιστορικού αποκοπής & επικόλλησης
Comment[en_GB]=A cut & paste history utility
Comment[es]=Una utilidad de cortar y pegar historial
Comment[fr]=Un outil d'historique du copier / coller
Comment[it]=Un programma per la cronologia del copia e incolla
Comment[ja]=カット＆ペースト履歴ユーティリティ
Comment[ko]=자르고 붙인 기록 도구
Comment[ru]=История буфера обмена
Comment[zh_CN]=管理剪切和粘贴历史的工具
Exec=copyq
GenericName[en_US]=Clipboard Manager
GenericName=Clipboard Manager
GenericName[ar]=أداة الحافظة
GenericName[de]=Verwaltung der Zwischenablage
GenericName[el]=Εργαλείο πρόχειρου
GenericName[en_GB]=Clipboard Tool
GenericName[es]=Portapapeles
GenericName[fr]=Presse-papiers
GenericName[it]=Strumento per gli appunti
GenericName[ja]=クリップボードツール
GenericName[ko]=클립보드 도구
GenericName[ru]=Монитор буфера обмена
GenericName[zh_CN]=剪贴板工具
Hidden=false
Icon=copyq
MimeType=
Name[en_US]=CopyQ
Name=CopyQ
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-UniqueApplet=true
X-KDE-Username=
X-KDE-autostart-after=panel
