[Desktop Entry]
Categories=Network;Internet;
Comment[en_US]=
Comment=
Exec=/opt/firefox/firefox -new-tab "%U"
GenericName[en_US]=Web Browser
GenericName=Web Browser
Icon=/opt/icons/firefox.png
MimeType=
Name[en_US]=Firefox
Name=Firefox
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
